*{
    margin :0;
    padding:0;
    box-sizing: border-box;

}

.container{
    max-width: 800px;
    margin:auto;
    height:100vh;
    padding:70px 0;
    .prodForm{
        border: 1px solid gray;
        padding :20px;
        box-shadow: 1px 1px 1px gainsboro;
        border-radius: 10px;
        .formItems{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap:30px;

            label{
                width: 30%;
                text-align: right;
                &::after{
                    content:" :" ;
                }
            }
            input, textarea {
                width: 70%;
                border:1px solid orange;
                border-radius:5px ;
                padding:5px 10px;
                &:focus{
                    outline: none;
                    border: 2px solid orange;

                }
            }
        }
        .submitBtn{
            text-align: center;
            margin-top: 20px;

            button{
                padding: 5px 20px;
                background-color: orange;
                color: white;
                border-color: transparent;
                border-radius: 20px;
                transition: all 0.5s;
                &:hover{
                    background-color: orangered;

                }
            }
        }
    }
}